<%= form_for(question.answers.build(user_id: current_user.id, question_id: question.id)) do |f| %>
<table>
  <tr>
    <td style="min-width:400px;vertical-align: middle;">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :question_id, value: question.id %>
      <%= f.text_field :content %>
    </td>
    <td>
      <%= f.submit "Submit Answer", class: "btn btn-large btn-primary" %>
    </td>
  </tr>
</table>
<% end %>
